body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

.login {
  border: 2px solid black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
